<div class="flex flex-col items-left">
  <div class="pt-2 max-w-lg">
    <%= render(PlayerSearchComponent.new) %>
  </div>

<div class="flex items-center space-x-4 pt-4">
  <% if @player.image_url.present? %>
    <img src="<%= @player.image_url %>" alt="<%= @player.name %> Image" class="rounded-full w-24 h-24 border-4 border-gray-700">
  <% else %>
    <p>No image available for <%= @player.name %>.</p>
  <% end %>

  <h1 class="text-xl font-semibold"><%= @player.name %></h1>
</div>

  <div class="bg-white shadow-md rounded-lg p-6 max-w-lg w-full">
    <dl class="divide-y divide-gray-200">
      
      <div class="py-4">
        <dt class="text-sm font-medium text-gray-500">Team:</dt>
        <dd class="mt-1 text-lg font-semibold text-gray-900">
          <% if @player.team.nil? %>
              <h1>Free Agent</h1>
          <% else %>
            <%= render(LinkComponent.new(href: team_path(code: @player.team.code))) do %>
              <%= @player.team.name %>
            <% end %>
          <% end %>
          </dd>
      </div>
      
      <div class="py-4">
        <dt class="text-sm font-medium text-gray-500">Position:</dt>
        <dd class="mt-1 text-lg font-semibold text-gray-900"><%= @player.position %></dd>
      </div>

      <div class="py-4">
        <dt class="text-sm font-medium text-gray-500">Born:</dt>
        <dd class="mt-1 text-lg font-semibold text-gray-900"><%=  @player.born&.strftime("%B %d, %Y")%></dd>
      </div>

       <div class="py-4">
        <dt class="text-sm font-medium text-gray-500">Drafted:</dt>
        <dd class="mt-1 text-lg font-semibold text-gray-900"><%=  @player.draft_details%></dd>
      </div>

       <div class="py-4">
        <dt class="text-sm font-medium text-gray-500">Acquired:</dt>
        <dd class="mt-1 text-lg font-semibold text-gray-900"><%=  @player.acquired%></dd>
      </div>
      
    </dl>
  </div>
  
<% @player.contracts.each do |contract| %>
  <div class="mb-4">
    <%= render ContractComponent.new(contract: contract) %>
  </div>
<% end %>

</div>
