<div class="container mx-auto px-4 py-8">
  <div class="bg-white shadow-md rounded-lg overflow-hidden">
    <div class="p-6">
      <%= image_tag "logos/#{@team.name.downcase.parameterize}.gif" %>
      <h1 class="text-3xl font-bold mb-4"><%= @team.name %></h1>
      <p>Total salary hit for 2024 is: <%= number_to_currency(@salary_cap_total_2024) %> </p>

      <div class="overflow-x-auto">
        <h2 class="text-lg font-semibold">Forwards</h2>
        <%= render(CapTableComponent.new(players: @forwards)) %> 
        <h2 class="text-lg font-semibold">Defence</h2>
        <%= render(CapTableComponent.new(players: @defence)) %> 
        <h2 class="text-lg font-semibold">Goalies</h2>
        <%= render(CapTableComponent.new(players: @goalies)) %> 

        <h2 class="text-lg font-semibold">Buyout players</h2>
        <%= render(CapTableComponent.new(players: @buyout_players, cap_type: 'Buyout' )) %>
      </div>
    </div>
  </div>
</div>
