<div class="container mx-auto px-4 py-8">
  <div class="bg-white shadow-md rounded-lg overflow-hidden">
    <div class="p-6">
      <%= link_to "Back to Teams", teams_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-italic py-2 px-4 rounded mb-4 inline-block" %>

      <%= image_tag "logos/#{@team.name.downcase.parameterize}.gif" %>
      <h1 class="text-3xl font-bold mb-4"><%= @team.name %></h1>
      <p>Total salary hit for 2024 is: <%= @salary_cap_total_2024 %> </p>

      <div class="overflow-x-auto">
        <h2>Forwards</h2>
        <%= render(CapTableComponent.new(players: @forwards)) %> 
        <h2>Defence</h2>
        <%= render(CapTableComponent.new(players: @defence)) %> 
        <h2>Goalies</h2>
        <%= render(CapTableComponent.new(players: @goalies)) %> 
      </div>
    </div>
  </div>
</div>
