<div class="container mx-auto px-4 py-8">
  <div class="bg-white shadow-md rounded-lg overflow-hidden">
    <div class="p-6">
      <!-- Back to Teams button -->
      <%= link_to "Back to Teams", teams_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-italic py-2 px-4 rounded mb-4 inline-block" %>

      <%= image_tag "logos/#{@team.name.downcase.parameterize}.gif" %>
      <h1 class="text-3xl font-bold mb-4"><%= @team.name %></h1>
      <p>Total salary hit for 2024 is: <%= @salary_cap_total_2024 %> </p>

      <!-- Salary Cap Table -->
      <div class="overflow-x-auto">
        <table class="min-w-full bg-white border-gray-200">
          <thead>
            <tr>
              <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm font-bold uppercase">Player name</th>
              <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm font-bold uppercase">Position</th>
              <% (2024..2030).each do |year| %>
                <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm font-bold uppercase"><%= year %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <!-- Replace with actual salary data if available -->
            <% @players.each do |player| %>
              <tr>
                  <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200"> <%= player.name %> </td>
                  <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200"> <%= player.position %> </td>
                  <% player.cap_hits.each do |cap_hit| %>
                    <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">  <%= number_to_currency(cap_hit.cap_value) %> </td>
                  <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
