<div class="container mx-auto px-2 py-2">
  <div class="bg-white shadow-md rounded-lg overflow-hidden">
    <div>
      <%= image_tag "logos/#{@team.name.downcase.parameterize}.gif" %>
      <h1 class="text-3xl font-bold mb-4"><%= @team.name %></h1>
      <p>Total salary hit for 2024 is: <%= number_to_currency(@salary_cap_total_2024) %> </p>
      <p>Current cap space: <%= number_to_currency(@salary_cap_space_current_year) %> </p>

      <div class="overflow-x-auto">
        <h2 class="text-lg font-semibold"><%= @forwards.length %> Forwards</h2>
        <%= render(TableComponent.new(headers: @table_headers, rows: @forwards_rows)) %> 

        <h2 class="text-lg font-semibold"><%= @defence.length %> Defence</h2>
        <%= render(TableComponent.new(headers: @table_headers, rows: @defence_rows)) %> 

        <h2 class="text-lg font-semibold"><%= @goalies.length %> Goalies</h2>
        <%= render(TableComponent.new(headers: @table_headers, rows: @goalies_rows)) %> 

        <h2 class="text-lg font-semibold"><%= @retained_players.length %> Retained players</h2>
        <%= render(TableComponent.new(headers: @table_headers, rows: @retained_players_rows)) %> 

        <h2 class="text-lg font-semibold"><%= @buyout_players.length %> Buyout players</h2>
        <%= render(TableComponent.new(headers: @table_headers, rows: @buyout_players_rows)) %> 
      </div>
    </div>
  </div>
</div>
