<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="0e83PnMTaWKYSOztt55xmW1QQl-8L6pzcp63tGtt4w8" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-blue-500 p-4 h-14">
    <header class=" text-white">
  <div class="container mx-auto flex justify-between items-center py-2 px-4">
    <!-- Navigation Links -->
    <nav class="flex items-center space-x-4">
      <%= link_to "Home", root_path, class: "text-white text-lg font-semibold hover:underline" %>
      <%= link_to "Teams", teams_path, class: "text-white text-lg font-semibold hover:underline" %>
      <%= link_to "Contact Me", contact_path, class: "text-white text-lg font-semibold hover:underline" %>
      <div class="-mt-2 flex items-center">
        <script type="text/javascript" src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"></script>
        <script type="text/javascript">
          kofiwidget2.init('Support Me', '#9c816a', 'X8X717V2XR');
          kofiwidget2.draw();
        </script>
      </div>
    </nav>
  </div>
</header>


    </nav>
    <main class="container  px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
